<div class="row">
	<div class="span12">
		<h3>用户反馈</h3>
		<table class="table table-hover">
			<thead>
				<tr>
		      <th>ID</th>
					<th>Email</th>
		      <th>Content</th>
		      <th>App Name</th>
		      <th>Created At</th>
					<th>Action</th>
	      </tr>
			</thead>
			<tbody>
				<% @feedbacks.each do |feedback| %>
				<tr>
					<td><%= link_to feedback.id, cpanel_feedback_path(feedback) %></td>
					<td><%= feedback.title %></td>
					<td width="40%"><%= feedback.content %></td>
					<td><%= feedback.app_name %></td>
					<td><%= feedback.created_at %></td>
					<td><%= link_to 'Delete', cpanel_feedback_path(feedback), :class => 'btn btn-danger', :method => :delete,
					 	:data => { :confirm => 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>