<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
	:html => { :class => 'form-horizontal well' }) do |f| %>
	<fieldset>
		<legend>请登录</legend>
		<div class="control-group">
			<%= f.label :email, "邮箱", :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :email %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :password, "密码", :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :password %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">
				<% if devise_mapping.rememberable? %>
					<label for="user_remember_me" class="checkbox">
						<%= f.check_box :remember_me, 
														:style => "width:auto;" %> 记住登录状态
					</label>
				<% end %>
				<%= f.submit "登录", :class => "btn btn-success btn-large", 
													 :disable_with => "登录中..." %>
			</div>
		</div>
	</fieldset>
<% end %>

