<%= simple_form_for([:cpanel,@app_info], :html => { :enctype =>  "multipart/form-data", :class => 'form-horizontal'}) do |f| %>
	<%= render 'shared/error_messages', :target => @app_info %>
	<fieldset>
		<legend><%= legend %></legend>
		
		<%= f.input :title, :label => "应用名" %>
    <%= f.input :description, :as => :text, :label => "应用介绍", :input_html => { :class => "xxlarge", :rows => "5", :cols => "50" } %>
    <%= f.input :app_url, :label => "应用商店地址", :input_html => { :class => "input-xxlarge" }, :placeholder => "http://" %>
		<%= f.input :apple_id, :label => "Apple ID" %>
		<%= f.input :image, :label => '应用Icon' %>
		
		<div class="form-actions">
	    <%= f.submit "保存", :class => "btn btn-primary", :disable_with => '正在提交...' %>
			<%= link_to '取消', cpanel_app_infos_path, :class => "btn" %>
	  </div>
		
	</fieldset>
<% end %>
