<div class="well">
<%= simple_form_for([:cpanel, @law_detail], :html => { :class => 'form-horizontal'}) do |f| %>
	<%= render 'shared/error_messages', :target => @law_detail %>
	<fieldset>
		<legend><%= legend %></legend>
		
			<%= f.input :title, :label => "标题", :input_html => { :class => "span5" } %>
			<%= f.input :law_udid, :label => "法律条目唯一标识", :input_html => { :class => "span3" }, :readonly => @law_detail.id.present? %>
			<%= f.input :pub_date, :label => "发布日期" %>
			<%= f.input :catalog, :as => :text, :label => "目录", 
								  :input_html => { :class => "span5", :rows => 6} %>
	    <%= f.input :content, :as => :text, :label => "法规正文", :input_html => { :class => "span5", :rows => 12 } %>
			<%= f.input :pub_dept, :label => "发布部门" %>
			<%= f.input :doc_id, :label => "文档编号" %>
			<%= f.input :exec_date, :label => "实施日期" %>
	    <%= f.input :summary, :as => :text, :label => "摘要", 
									:input_html => { :class => "span5", :rows => 6 } %>
			<%= f.input :law_category_id, :label => '类别', :collection => LawCategory.category_collection, :prompt => '请选择一个类别', :include_blank => true %>
			<%= f.input :app_info_id, :label => '所属应用', :collection => AppInfo.app_collection, :prompt => '请选择一个应用' %>
			<%= f.input :law_type_id, :label => '数据类别', :collection => LawType.type_names, :prompt => '请选择一个数据类别' %>
			
			<%= f.input :action, :label => '操作方式', :collection => LawDetail::ACTIONS, :prompt => '请选择操作' %>
		
		<div class="form-actions">
	    <%= f.submit "保存", :class => "btn btn-primary", :disable_with => '正在提交...' %>
			<%= link_to '取消', :back, :class => "btn" %>
	  </div>
		
	</fieldset>
<% end %>
</div>